@import '../../assets/mainstyles.scss';

.about-main {
    @include flex-column-center;
    width: calc(100vw - 200px);
    gap: 38px;

    @media (max-width: $mobile-size) {
        width: calc(100vw - 40px);
        gap: 19px;
    }

    &__header {
        height: 223px;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        background-color: rgba(0,0,0,1);

        @media (max-width: $mobile-size) {
            height: 111px;
            border-radius: 10px;
        }
        
        &__img {    
          opacity: 0.7;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
    }

    &__dropdown {
        @include flex-column-center;
        width: calc(100% - 200px);
        gap: 30px;

        @media (max-width: $mobile-size) {
            width: 100%;
            gap: 20px;
        }

        &__item {
            width: 100%;
        }
    }
}