@import '../../assets/mainstyles.scss';

.app {
  background-color: $backgrd-color;
  @include flex-column-center;
  gap: 50px;
  margin: 45px 0 0 0;

  @media (max-width: $mobile-size) {
    gap: 27px;
    margin-top: 20px;
  }
}