@import '../../assets/mainstyles.scss';

.home-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	padding-inline: 100px;

	@media (max-width: $mobile-size) {
		gap: 22px;
		padding-inline: 20px;
	}

	&__header {
		height: 223px;
		width: 100%;
		border-radius: 25px;
		position: relative;
		background-color: rgba(0,0,0,1);
		box-shadow: 0 4px 4px rgba(0,0,0,0.25);

		@media (max-width: $mobile-size) {
			height: 111px;
		}
		
		&__img {    
			opacity: 0.4;
			@include img-cover;
			border-radius: 25px;
		}

		&__text {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 16px);
			height: 100%;
			@include flex-column-center;
			color: $alt-text-color;
			font-size: 48px;
			font-weight: 700;
			z-index: 1;
			@include text-shadow;

			@media (max-width: $mobile-size) {
				width: calc(100% - 110px);
				font-size: 24px;
				text-align: left;
				text-shadow: none;
				padding-left: 16px;
			}
		}
	}

	&__gallery {
		overflow: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		gap: calc(100vw * 5 / 144);
		border-radius: 10px;
		background-color: $alt-backgrd-color;
		height: auto;

		@media (max-width: $mobile-size) {
			grid-template-columns: 1fr;
		}

		&__title {
			display: none;
		}
	}
}