@import '../../assets/mainstyles.scss';

.home-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: calc(100vw - (200 * $base-desktop-width));
	padding-inline: calc(100 * $base-desktop-width);

	@media (max-width: $mobile-size) {
		gap: 22px;
		width: calc(100vw - (40 * $base-mobile-width));
		padding-inline: 0;
	}

	&__header {
		height: 223px;
		width: 100%;
		border-radius: 25px;
		position: relative;
		background-color: rgba(0,0,0,1);
		box-shadow: 0 4px 4px rgba(0,0,0,0.25);

		@media (max-width: $mobile-size) {
			height: 111px;
			border-radius: 10px;
			box-shadow: none;
		}
		
		&__img {    
			opacity: 0.4;
			@include img-cover;
			border-radius: 25px;

			@media (max-width: $mobile-size) {
				border-radius: 10px;
			}
		}

		&__text {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			display: inline;
			text-align: center;
			vertical-align: middle;
			padding-inline: 16px;
			text-wrap: wrap;
			color: $alt-text-color;
			font-size: 48px;
			font-weight: 700;
			z-index: 1;
			@include text-shadow;

			@media (max-width: $mobile-size) {
				font-size: 24px;
				text-align: left;
				text-shadow: none;
				padding-left: 16px;
			}

			&__to-wrap {
				@media (max-width: $mobile-size) {
					display: block;
				}
			}
		}
	}

	&__gallery {
		width: calc(100% - (100 * $base-desktop-width));
		padding: calc(50 * $base-desktop-width);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		gap: calc(50 * $base-desktop-width);
		border-radius: 10px;
		background-color: $alt-backgrd-color;
		height: auto;

		@media (max-width: $mobile-size) {
			width: calc(100vw - (40 * $base-mobile-width));
			grid-template-columns: 1fr;
			background-color: $backgrd-color;
			padding: 0;
		}

		&__title {
			display: none;
		}

		&__card {
			width: calc(340 * $base-desktop-width);
			height: calc(340 * $base-desktop-width);

			@media (max-width: $mobile-size) {
				width: calc(335 * $base-mobile-width);
				height: calc(255 * $base-mobile-width);
			}

			&__link {
				text-decoration: none;
				width: inherit;
				height: inherit;
			}
		}
	}
}