@import '../../assets/mainstyles.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - (200 * $base-desktop-width));
    padding-inline: calc(100 * $base-desktop-width);

    @media (max-width: $mobile-size) {
        width: calc(100vw - (40 * $base-mobile-width));
        padding-inline: 0;
    }

    &__logo {
        width: 211px;
        height: 68px;
        
        @media (max-width: $mobile-size) {
            width: 145px;
            height: 47px;
        }
    }

    &__title {
        display: none;
    }

    &__link-list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        &__link {
            list-style: none;
            padding-left: calc(57 * $base-desktop-width);

            @media (max-width: $mobile-size) {
                padding-left: calc(26 * $base-mobile-width);
            }

            &__to {
                text-decoration: none;
                color: rgba(0,0,0,1);
                font-size: 24px;

                @media (max-width: $mobile-size) {
                    text-transform: uppercase;
                    font-size: 12px;
                }
                
                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}