@import '../../assets/mainstyles.scss';

.error-main{
    @include flex-column-center;
    gap: 139px;
    padding-block: 89px;

    @media (max-width: $mobile-size) {
        gap: 113px;
        padding-block: 86px;
        min-height: 0;
    }

    &__title {
        display: none;
    }

    &__status {
        font-size: 288px;
        font-weight: 700;
        color: $main-color;
        line-height: 263px;

        @media (max-width: $mobile-size) {
            font-size: 96px;
            line-height: 99px;
        }
    }

    &__message {
        font-size: 36px;
        color: $main-color;
        padding-inline: 20px;

        @media (max-width: $mobile-size) {
            font-size: 18px;
            width: calc(300 * $base-mobile-width);
            text-align: center;
        }

        &__block {
            @media (max-width: $mobile-size) {
                display: block;
            }
        }
    }

    &__link {
        text-decoration: underline;
        color: #000000;
    }
}

